.App {
  text-align: center;
  padding: 0;
}

.card {
  background-color: white;
  /* box-shadow: 1px 1px 4px #ccc; */
  max-width: 800px;
  height: 400px;
  margin: auto;
  margin-top: 20vh;
  border-radius: 10px;
  padding: 1rem;
}

.range {
  width: 100%;
}

.rangeContainer {
  display: flex;
  align-items: center;
}

.audioControlButton {
  height: 50px;
  width: 80px;
  color: white;
  font-family: "Roboto";
  font-weight: 400;
  border: none;
  font-size: 16px;
}

.count {
  background-color: white;
  font-size: 50px;
  cursor: pointer;
  border-radius: 5px;
  border: 0;
  outline: 0;
}

.rangeContainer {
  text-align: center;
}

